/* home.css */

.home {
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Introdução com banner */
.home .intro-container {
    padding: 40px 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 40px;
}

.home .intro-container .banner-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.home .intro-container h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.home .intro-container p {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

/* Trending Section */
.trending {
    margin-top: 20px;
}

.trending .container {
    max-width: 1200px;
    margin: 0 auto;
}

.left_box .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.left_box .heading h1 {
    font-size: 26px;
    color: #222;
    cursor: pointer;
}

.left_box .cate h3 {
    margin-left: 15px;
    font-size: 18px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
}

.left_box .cate h3:hover {
    color: #000;
}

/* Produtos */
.products .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.box:hover {
    transform: translateY(-5px);
}

.img_box img {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.box h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.box h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.box button {
    padding: 10px 15px;
    background:#007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.box button:hover {
    background: #000000;
    
}

/* Estrelas */
.stars {
    margin: 10px 0;
    font-size: 18px;
}

/* Food Truck */
.foodTruck {
    margin-top: 50px;
    text-align: center;
    background-color: #007BFF; /* azul Bootstrap */
    padding: 40px 20px;
    border-radius: 10px;
    color: #fff;
}

.foodTruck h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
}

.foodTruck .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.footer {
  
    color: #766f6f;
    padding: 1.5rem 1rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
}

.footer a {
    color:  #007BFF;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #fff176;
}

.footer-content p {
    margin: 0.3rem 0;
}
